/* # base*/
* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

figure img { max-width: 100%; }

figure {  margin: 0; }

ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}

/* # Layout */

.main-grid {
  display: grid;
  grid-template: 60vh 40vh / 300px 1fr;
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: "sidebar header"
                       "sidebar main";
}
.item {
  border: 1px solid red;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;

}
.main{
  grid-area: main;
}
